- if @market_history.present?
  .d-flex.bg-primary.border.border-3.border-primary.bg-opacity-25.flex-column
    h1 Market Activity
    .d-flex
      = render "history_table"
    .d-flex
- else
  p No market history available.
