nav.game-navbar.mt-1
  .game-navbar__bg
  .game-navbar__inner
    .game-navbar__left
      = link_to root_path, class: "game-navbar__logo-wrap" do
        = image_tag "logo.png", alt: "Big Dog", class: "game-navbar__logo"

    .game-navbar__center
      = link_to pack_show_path, class: "game-navbar__item" do
        span.game-navbar__icon 🐾
        span Pack

      = link_to building_index_path, class: "game-navbar__item #{current_page?(building_index_path) ? 'game-navbar__item--active' : ''}" do
        span.game-navbar__icon 🏰
        span Buildings

      = link_to marketplace_show_path, class: "game-navbar__item #{current_page?(marketplace_show_path) ? 'game-navbar__item--active' : ''}" do
        span.game-navbar__icon 🪙
        span Marketplace

      = link_to map_path, class: "game-navbar__item #{current_page?(map_path) ? 'game-navbar__item--active' : ''}" do
        span.game-navbar__icon 🗺️
        span map


    .game-navbar__right.dropdown
      a.game-navbar__profile.dropdown-toggle[
        href="#"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      ]
        span.game-navbar__profile-avatar 🐺
        span.game-navbar__profile-name Profile

      ul.dropdown-menu.dropdown-menu-end.dropdown-menu-dark.bg-dark.bg-opacity-75.border.border-warning.shadow-lg.mt-2.rounded-3
        li
          = button_to "Logout",
            sessions_logout_path,
            method: :post,
            class: "dropdown-item text-start w-100 border-0 bg-transparent"